*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(222, 198, 190);
   
}

.h1-font {
    font-size: 50px;
    font-family: "Pacifico", cursive;
    color: rgb(80, 78, 78);
}

h3 {
    font-family: "Righteous", sans-serif;
    font-weight: 200;
    
}

.head {
    color: rgb(92, 104, 30);
}

.line-dashed {
    border: 1px dashed;
}

.btn-lg {
    background-color: rgb(79, 89, 26);
}

.btn-lg:hover {
    background-color: rgb(107, 106, 106);
}

